@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';
@import '_content/Havit.Blazor.Components.Web.Bootstrap/Havit.Blazor.Components.Web.Bootstrap.bundle.scp.css';
@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* /Components/Tooltip.razor.rz.scp.css */
.tooltip-wrapper[b-g6ihg55sw2] {
	position: relative;
	display: inline-block;
	user-select: none;
}

span[b-g6ihg55sw2] {
	all: initial;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 10px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 0.4rem;
	border-radius: 6px;
	z-index: 1;
	transition: 0.3s ease-out;
	font-family: var(--bs-font-sans-serif);
	font-size: 14px;
	white-space: nowrap;
}

	span[b-g6ihg55sw2]::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: black transparent transparent transparent;
	}

	.tooltip-wrapper:hover span:hover[b-g6ihg55sw2] {
		visibility: hidden;
		opacity: 0;
	}

.tooltip-wrapper:hover span[b-g6ihg55sw2] {
	visibility: visible;
	opacity: 0.9;
}
/* /Pages/Activities.razor.rz.scp.css */
article[b-t0pe2x2lin] {
	padding: 50px;
	color: white;
	background-color: black;
	min-height: 100vh;
}

h1[b-t0pe2x2lin] {
	text-align: center;
	color: #1b6ec2;
}
/* /Pages/NextActivities/ActivityDate.razor.rz.scp.css */
.day[b-9j0ew65nka] {
	font-size: 0.5em;
	background-color: white;
	color: red;
	text-align: center;
	border-radius: 5px;
	vertical-align: middle;
}
/* /Pages/NextActivities/ActivityOptions.razor.rz.scp.css */
.activity-options[b-fogdxa5jde] {
	min-width:20px;
	min-height: 20px;
	cursor: pointer;
	position: absolute;
	word-spacing: 0;
}

tr:hover .options-button[b-fogdxa5jde] {
	visibility: visible;
	opacity: 1;
}

.options-button[b-fogdxa5jde] {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	display: inline-block;
}
/* /Pages/NextActivities/ActivityRow.razor.rz.scp.css */
td[b-bqpfnqedla] {
	vertical-align: bottom;
	padding: 11px 0px;
	border-bottom: 1px groove grey;
}
tr:not(:first-child) td[b-bqpfnqedla] {
	padding-top: 21px;
}

.game[b-bqpfnqedla] {
	display: block;
	font-size: 0.6em;
	min-height: 0.6em;
	margin-bottom: 10px;
}

.activity[b-bqpfnqedla] {
	font-size: 1.6em;
	font-family: Gothica Moderna;
    letter-spacing:4px;
	text-shadow: 
		0px 4px 3px rgba(0,0,0,0.7), 
		0px 8px 13px rgba(0,0,0,0.2), 
		0px 18px 23px rgba(0,0,0,0.2);
}

[b-bqpfnqedla] .name-cell .more-button {
	color: white;
	visibility: hidden;
	vertical-align: top;
	font-size: 0.6em;
	cursor: pointer;
}

[b-bqpfnqedla] .name-cell:hover .more-button {
	visibility: visible;
}

[b-bqpfnqedla] .more-button:hover {
	color: var(--remark-color);
}

[b-bqpfnqedla] .activity-description {
	font-family: 'Share Tech Mono', monospace;
	line-height: initial;
	position: absolute;
	z-index: 10;
}

[b-bqpfnqedla] .activity-description .card {
	background-color: black !important;
	border-radius: 4px;
	border: 1px solid #fff;
}
/* /Pages/NextActivities/CapacityCounter.razor.rz.scp.css */
.capacity-counter[b-fz00g9njpp] {
    user-select: none;
    cursor: pointer;
    font-family: 'Edo';
    font-size: 1.4em;
    letter-spacing: 0.2em;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.capacity-counter.last-places[b-fz00g9njpp] {
    color: #fe2f49;
}

.hot[b-fz00g9njpp] {
    position: absolute;
    bottom: -1px;
    left: -20px;
    color: #dc3545;
}

.add-participant[b-fz00g9njpp] {
    font-family: var(--bs-font-sans-serif);
    line-height: initial;
    position: absolute;
    right: 0;
    z-index: 10;
}

    .add-participant .card[b-fz00g9njpp] {
        background-color: black;
        border-radius: 4px;
        border: 1px solid #fff;
    }
/* /Pages/NextActivities/Clock.razor.rz.scp.css */
.clock[b-ehqrgeyyyv] {
	position: relative;
	display: inline-block;
	float: right;
	line-height: 0.7em;
	font-family: 'Heavitas', monospace;
	font-size: 1.7em;
	color: #daf6ff;
	text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
/* /Pages/NextActivities/Icons.razor.rz.scp.css */
.icons[b-npb3zlzr5l] {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 0.13em;
    font-size: 1.5em;
}

.adults-only[b-npb3zlzr5l] {
    height: 0.64em;
}

.adults-only svg[b-npb3zlzr5l] {
    color: #dc3545;
}

.adults-only span[b-npb3zlzr5l] {
    font-family: Arial;
    font-size: 0.5em;
}
/* /Pages/NextActivities/NextActivities.razor.rz.scp.css */
.next-activities[b-1x1hyw2trh] {
    font-family: Heavitas;
    font-size: 2em;
    color: white;
    background-image: url('img/background.jpg');
    background-position:center 28%;
    min-height: 100vh;
    padding: 50px 10%;
    position: relative;
}

h1[b-1x1hyw2trh] {
    display: inline-block;
    text-align: left;
    font-size: 4rem;
    line-height: 0.7;
    margin-bottom: 0.5em;
}

table[b-1x1hyw2trh] {
    width: 100%;
}

.nombre.completo[b-1x1hyw2trh] {
    text-decoration: line-through;
}

#contenido[b-1x1hyw2trh] {
    width: 100%;
}

[b-1x1hyw2trh] .activities-table {
    line-height: 0.8;
}

[b-1x1hyw2trh] .activities-table .no-space {
    word-spacing: -0.8em;
}

[b-1x1hyw2trh] .activities-table svg {
    font-size: 0.5em;
}

a.boton[b-1x1hyw2trh] {
    cursor: pointer;
}

[b-1x1hyw2trh] .asdf {
    position: absolute;
    top: 0;
}

/* Modal */
.custom-modal-overlay[b-1x1hyw2trh] {
    background-color: var(--secondary-color);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-681iem4it7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-681iem4it7] {
    flex: 1;
    min-height: 100vh;
}

.top-row[b-681iem4it7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-681iem4it7]  a, .top-row[b-681iem4it7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-681iem4it7]  a:hover, .top-row[b-681iem4it7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-681iem4it7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-681iem4it7] {
        display: none;
    }

    .top-row.auth[b-681iem4it7] {
        justify-content: space-between;
    }

    .top-row[b-681iem4it7]  a, .top-row[b-681iem4it7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-681iem4it7] {
        flex-direction: row;
    }

    .sidebar[b-681iem4it7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-681iem4it7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-681iem4it7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
#sidebar-hoverer[b-9o85ue5dvm] {
    width: 10px;
    position: absolute;
    margin-right: -10px;
    top: 0;
    height: 100%;
    right: 0;
}

.sidebar.collapsed #sidebar-hoverer:hover + .sidebar-toggler[b-9o85ue5dvm] {
    opacity: 1;
    transition-delay: 0s;
}

.sidebar-toggler[b-9o85ue5dvm] {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    margin-right: -50px;
}

.sidebar.collapsed .sidebar-toggler[b-9o85ue5dvm] {
    opacity: 0;
    transition: .3s;
    transition-delay: 1s;
}

.sidebar.collapsed .sidebar-toggler:hover[b-9o85ue5dvm] {
    opacity: 1;
    transition-delay: 0s;
}

.sidebar-toggler:focus-visible[b-9o85ue5dvm] {
    border-color: transparent;
}

.sidebar[b-9o85ue5dvm] {
    position: relative;
    background-color: black;
    min-width: 250px;
    max-width: 250px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 100;
}

.sidebar.collapsed[b-9o85ue5dvm] {
    margin-left: -250px;
}

.top-row[b-9o85ue5dvm] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9o85ue5dvm] {
    font-size: 1.1rem;
}

.oi[b-9o85ue5dvm] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9o85ue5dvm] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9o85ue5dvm] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9o85ue5dvm] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9o85ue5dvm]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-9o85ue5dvm]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-9o85ue5dvm]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
