/* /Pages/NextActivities.razor.rz.scp.css */
@font-face {
    font-family: 'inversionz';
    src: url('/fonts/Inversionz Unboxed.otf');
}

.next-activities[b-nttde9y2r4] {
    font-family: inversionz;
    color: white;
    background-image: url('img/background.jpg');
    font-size: 40px;
    height: 100vh;
}

h1[b-nttde9y2r4] {
    text-align: center;
    font-size: 4rem;
}

table[b-nttde9y2r4] {
    width: 90%;
    font-size: 0.9em;
    margin: 0 auto;
}

.nombre.completo[b-nttde9y2r4] {
    text-decoration: line-through;
}

#contenido[b-nttde9y2r4] {
    width: 100%;
}

a.boton[b-nttde9y2r4] {
    cursor: pointer;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-681iem4it7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-681iem4it7] {
    flex: 1;
}

.sidebar[b-681iem4it7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-681iem4it7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-681iem4it7]  a, .top-row[b-681iem4it7]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-681iem4it7]  a:hover, .top-row[b-681iem4it7]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-681iem4it7]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-681iem4it7] {
        display: none;
    }

    .top-row.auth[b-681iem4it7] {
        justify-content: space-between;
    }

    .top-row[b-681iem4it7]  a, .top-row[b-681iem4it7]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-681iem4it7] {
        flex-direction: row;
    }

    .sidebar[b-681iem4it7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-681iem4it7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-681iem4it7]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-9o85ue5dvm] {
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
    position: fixed;
    float: left;
}

.sidebar[b-9o85ue5dvm] {
    z-index: 1;
    height: 100vh;
    position: fixed;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
}

.sidebar.collapse[b-9o85ue5dvm] {
    display: block;
    width: 0;
    overflow-x: hidden;
}

.top-row[b-9o85ue5dvm] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-9o85ue5dvm] {
    font-size: 1.1rem;
}

.oi[b-9o85ue5dvm] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9o85ue5dvm] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9o85ue5dvm] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9o85ue5dvm] {
        padding-bottom: 1rem;
    }

    .nav-item[b-9o85ue5dvm]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-9o85ue5dvm]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-9o85ue5dvm]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
