#sidebar-hoverer {
    width: 10px;
    position: absolute;
    margin-right: -10px;
    top: 0;
    height: 100%;
    right: 0;
}

.sidebar.collapsed #sidebar-hoverer:hover + .sidebar-toggler {
    opacity: 1;
    transition-delay: 0s;
}

.sidebar-toggler {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
    margin-right: -50px;
}

.sidebar.collapsed .sidebar-toggler {
    opacity: 0;
    transition: .3s;
    transition-delay: 1s;
}

.sidebar.collapsed .sidebar-toggler:hover {
    opacity: 1;
    transition-delay: 0s;
}

.sidebar-toggler:focus-visible {
    border-color: transparent;
}

.sidebar {
    position: relative;
    background-color: black;
    min-width: 250px;
    max-width: 250px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.sidebar.collapsed {
    margin-left: -250px;
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
