@using ActivitiesCounter.Components;
@inject ActivitiesManager ActivitiesManager

<nav class="sidebar @NavMenuCssClass" @onclick="ToggleNavMenu">
	<span id="sidebar-hoverer" />
	<button title="Navigation menu" class="sidebar-toggler btn">
		<i class="fa-solid fa-bars" />
	</button>
	<div class="nav-item px-3">
		<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
			<i class="oi fa-solid fa-house"/>
			Home
		</NavLink>
	</div>
	<div class="nav-item px-3">
		<NavLink class="nav-link" href="actividades">
			<i class="oi fa-solid fa-list"/>
			Gestionar actividades
		</NavLink>
	</div>
	<div class="nav-item px-3">
		<NavLink class="nav-link" href="proximasactividades">
			<i class="oi fa-solid fa-calendar" />
			Próximas actividades
		</NavLink>
	</div>
	<div class="nav-item px-3">
		<NavLink class="nav-link user-select-none" role="button" @onclick="Restore">
			<i class="oi fa-solid fa-trash-arrow-up"/>
			Restaurar actividades
		</NavLink>
	</div>
</nav>

@code {
	[CascadingParameter]
	public IModalService ModalService { get; set; }
	private IModalReference _modal;

	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapsed" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	private async Task Restore()
	{
		var parameters = new ModalParameters()
			.Add(nameof(ConfirmModal.Message), "¿Seguro que quieres las activiades? Se borrarán todos los cambios");

		_modal = ModalService.Show<ConfirmModal>("Confirmar restauración", parameters, new()
			{
				Position = ModalPosition.Middle,
			});

		var result = await _modal.Result;
		if (result.Confirmed)
		{
			await ActivitiesManager.BulkActivitiesFromFiles(true);
		}

		_modal.Close();
	}
}
