<form @onsubmit="SubmitForm">
	<label>@Message</label>

	<div class="text-center">
		<button class="button primary col-3" type="submit">Ok</button>
		<button class="button secondary col-3" @onclick="Cancel" type="button">Cancelar</button>
	</div>
</form>

@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!; 
	
	[Parameter]
	public string Message { get; set; }

	private async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok());
	private async Task Cancel() => await BlazoredModal.CancelAsync();
}
