@using System.Globalization;

@if (ShowDay)
{
	<HxTooltip Text="@_dayTooltipMessage">
		<span class="fa-layers fa-fw adults-only">
			<i class="fa-regular fa-calendar"></i>
			<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8" style="font-weight:900">
				@_culture.DateTimeFormat.GetDayName(Activity.Date.DayOfWeek).Substring(0, 3)
			</span>
		</span>
	</HxTooltip>
}

@Activity.Date.ToString("HH:mm")

@code {
	[CascadingParameter]
	public Activity Activity { get; set; }

	private bool ShowDay => Activity.Date.Date != DateTime.Now.Date;
	private readonly CultureInfo _culture = new CultureInfo("Es-Es");
	private string _dayTooltipMessage => $"Partida programada para el {_culture.DateTimeFormat.GetDayName(Activity.Date.DayOfWeek)}";
}
