td {
	vertical-align: bottom;
	padding: 9px 0px;
}

.game {
	display: block;
	font-size: 0.6em;
	min-height: 0.6em;
}

.activity {
	text-shadow: 
		0px 4px 3px rgba(0,0,0,0.4), 
		0px 8px 13px rgba(0,0,0,0.1), 
		0px 18px 23px rgba(0,0,0,0.1);
}

::deep .name-cell .more-button {
	color: white;
	visibility: hidden;
	vertical-align: top;
	font-size: 0.6em;
	cursor: pointer;
}

::deep .name-cell:hover .more-button {
	visibility: visible;
}

::deep .more-button:hover {
	color: var(--remark-color);
}

::deep .activity-description {
	font-family: 'Share Tech Mono', monospace;
	line-height: initial;
	position: absolute;
	z-index: 10;
}

::deep .activity-description .card {
	background-color: black !important;
	border-radius: 4px;
	border: 1px solid #fff;
}