.capacity-counter {
    user-select: none;
    cursor: pointer;
    font-family: 'Edo';
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: #fe2f49;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.hot {
    position: absolute;
    bottom: -1px;
    left: -5px;
    color: #dc3545;
}

.add-participant {
    font-family: var(--bs-font-sans-serif);
    line-height: initial;
    position: absolute;
    right: 0;
    z-index: 10;
}

    .add-participant .card {
        background-color: black;
        border-radius: 4px;
        border: 1px solid #fff;
    }
