.clock {
	position: relative;
	display: inline-block;
	float: right;
	line-height: 0.7em;
	font-family: 'Heavitas', monospace;
	font-size: 1.7em;
	color: #daf6ff;
	text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
