@if (StartSoon)
{
	<HxTooltip Text="Inscripciones apunto de abrirse">
		<i class="fa-solid fa-clock fa-shake"></i>
	</HxTooltip>
}

@if (RecentlyOpen)
{
	<HxTooltip Text="Inscripciones ya abiertas">
		<i class="fa-solid fa-burst fa-fade"></i>
	</HxTooltip>
}

@if (AdultsOnly)
{

	<HxTooltip Text="Solo para mayores de edad">
		<span class="fa-layers fa-fw adults-only">
			<i class="fa-solid fa-ban"></i>
			<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8" style="font-weight:900">18</span>
		</span>
	</HxTooltip>
}


@code {
	[Parameter]
	public bool AdultsOnly { get; set; }

	[Parameter]
	public DateTime ActivityDate { get; set; }

	private bool StartSoon => ActivityDate > DateTime.Now && ActivityDate - DateTime.Now < TimeSpan.FromMinutes(10);
	private bool RecentlyOpen => DateTime.Now > ActivityDate && DateTime.Now - ActivityDate < TimeSpan.FromMinutes(10);
}
