@page "/proximasactividades"
@inject IActivitiesManager ActivitiesManager

<PageTitle>Próximas actividades</PageTitle>

<div class="next-activities">
<h1>Próximas actividades</h1>

@if (_activities == null)
{
	<p><em>Cargando...</em></p>
}
else
{
	<CascadingValue Value="@TimeChanged" Name="TimeChanged">
		<table class="activities-table">
			<tbody>
				@foreach (var activity in _activities)
				{
					<ActivityRow activity="@activity" />
				}
			</tbody>
		</table>

		<Clock/>
	</CascadingValue>
}
</div>
@code {
	private IEnumerable<Activity> _activities;
	private event Action TimeChanged;

	protected override async Task OnInitializedAsync()
	{
		_activities = await ActivitiesManager.GetNextActivitiesAsync();
	}
}