.next-activities {
    font-family: inversionz;
    color: white;
    background-image: url('img/background.jpg');
    font-size: 40px;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
    text-shadow: 4px 4px #000000;
}

table {
    width: 90%;
    font-size: 0.9em;
    margin: 0 auto;
}

.nombre.completo {
    text-decoration: line-through;
}

#contenido {
    width: 100%;
}

::deep .activities-table {
    line-height: 0.8;
}

::deep .activities-table .no-space {
    word-spacing: -0.8em;
}

.activities-table td {
    position: relative;
}

::deep .activities-table svg {
    font-size: 0.5em;
    vertical-align: middle;
}

a.boton {
    cursor: pointer;
}

::deep .asdf {
    position: absolute;
    top: 0;
}

::deep .name-cell .more-button {
    color: white;
    display: none;
    vertical-align: top;
    font-size: 0.6em;
    cursor: pointer;
}

::deep .name-cell:hover .more-button {
    display: inherit;
}

::deep .more-button:hover {
    color: var(--remark-color);
}

::deep .activity-description {
    position: fixed;
    z-index: 10;
}

::deep .activity-description .card {
    background-color: var(--secondary-color) !important;
}

/* Modal */
.custom-modal-overlay {
    background-color: var(--secondary-color);
}