@page "/proximasactividades"
@inject ActivitiesManager ActivitiesManager

<PageTitle>Próximas actividades</PageTitle>

<div class="next-activities">
	<h1>Próximas actividades</h1>
	<Clock/>

	@if (_activities == null)
	{
		<p><em>Cargando...</em></p>
	}
	else
	{
			<CascadingValue Value="@ActivitiesChanged" Name="@nameof(ActivitiesChanged)">
				<table class="activities-table">
					<tbody>
						@foreach (var activity in _activities)
						{
							<ActivityRow activity="@activity" />
						}
					</tbody>
				</table>

			</CascadingValue>
	}
</div>
@code {
	private IEnumerable<Activity> _activities;

	protected override async Task OnInitializedAsync()
	{
		_activities = await ActivitiesManager.GetNextActivitiesAsync();
	}

	private async void ActivitiesChanged()
	{
		_activities = await ActivitiesManager.GetNextActivitiesAsync();
		StateHasChanged();
	}
}