@page "/actividad"
@inject IActivitiesManager ActivitiesManager

<h3>@HeaderText</h3>

<EditForm Model="@Activity" OnValidSubmit="@Upsert">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-floating mb-3">
        <InputText id="name" class="form-control" placeholder="La casa Corbitt" @bind-Value="Activity.Name" />
        <label for="name">Nombre de la actividad</label>
    </div>

    <div class="input-group">
        <div class="mb-3">
            <label for="players">Número de jugadores</label>
            <InputNumber id="players" class="form-control" @bind-Value="Activity.Capacity" DisplayName="Jugadores" />
        </div>

        <div class="mb-3">
            <label for="date">Fecha</label>
            <InputDate id="date" class="form-control" @bind-Value="Activity.Date" Type="InputDateType.DateTimeLocal" />
        </div>
    </div>

    <div class="form-floating mb-3">
        <InputTextArea id="description" class="form-control" placeholder="Descripción" @bind-Value="Activity.Description" />
        <label for="description">Descripción de la actividad</label>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@code {
    [Parameter]
    public Activity Activity { get; set; } = new();

    private string HeaderText => Activity?.Name ?? "Nueva actividad";

    public void SetActivity(Activity activity)
    {
        Activity = activity;
        StateHasChanged();
    }

    private async Task Upsert()
    {
        await ActivitiesManager.UpsertActivity(Activity);
    }
}
