@page "/"
@inject IFilesManager FilesManager

<PageTitle>Ludus Myrtea</PageTitle>
<div class="index p-5">

    <img src="/img/ludus-logo.png" class="img-fluid" alt="logo">

    <button class="btn btn-success" @onclick="@(e => FilesManager.LoadFilesData())">Cargar datos</button>
    <button class="btn btn-success" @onclick="@(e => FilesManager.LoadFilesData(true))">Restaurar datos</button>
</div>