.next-activities {
    font-family: inversionz;
    color: white;
    background-image: url('img/background.jpg');
    font-size: 40px;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
    text-shadow: 4px 4px #000000;
}

table {
    width: 90%;
    font-size: 0.9em;
    margin: 0 auto;
}

.nombre.completo {
    text-decoration: line-through;
}

#contenido {
    width: 100%;
}

.activities-table {
    line-height: 0.8;
}

.activities-table .no-space {
    word-spacing: -0.8em;
}

.activities-table td {
    position: relative;
}

a.boton {
    cursor: pointer;
}

.name-cell {
}

.adults-only {
    font-family: a-space;
    font-size: 0.25em;
    font-weight: 100;
    vertical-align: middle;
}

::deep .asdf {
    position: absolute;
    top: 0;
}

::deep .name-cell .more-button {
    color: white;
    font-size: 0.4em;
    display: none;
    vertical-align: top;
}

::deep .name-cell:hover .more-button {
    display: inherit;
}

::deep .more-button:hover {
    color: var(--remark-color);
}

::deep .activity-description {
    position: fixed;
    z-index: 10;
}

::deep .activity-description .card {
    background-color: var(--secondary-color) !important;
}

.hot {
    position: absolute;
    bottom: -1px;
    left: -5px;
    color: #dc3545;
    font-size: 0.5em;
}

.fa-spin-hover:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
